<!DOCTYPE html>
<html lang="en">
<head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'Images/favico.png' %}" type="image/gif" sizes="16x16">
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    External css for hover on developer photos effect-->
<!--     <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />&lt;!&ndash; bootstrap css &ndash;&gt;-->
<!--    <link href="static/css/style.css" rel='stylesheet' type='text/css' />&lt;!&ndash; custom css &ndash;&gt;-->
<!--    <link href="static/css/font-awesome.min.css" rel="stylesheet">&lt;!&ndash; fontawesome css &ndash;&gt;-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
<!--      <link rel="stylesheet" type="text/css" href="{% static 'css/ext.css' %}">-->

    <!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->


    <title>Ewebgo: Learning</title>
    <style>
        #position{
            position:bottom;
        }
    </style>
</head>
<body class="bd-gradient-primary">
{% load static %}

  <!--NavBar-->
<div class="sticky-top">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">Ewebgo About</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Contact' %}">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="{% url 'login' %}">Login</a>-->
<!--      </li>-->

<!--				<li class=""><a href="{% url 'Contact' %}">Contact us</a></li>-->
<!--				<li class=""><a href="/home">Electronics</a></li>-->
<!--				<li class=""><a href="/books">Books</a></li>-->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'About' %}">About</a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
</div>

 {% load static %}

<!--  <header class="py-sm-3 pt-3 pb-2" >-->
<!--	<div class="container">-->
<!--			<div id="logo">-->
<!--				<h1> <a href="/home"></span> E-webgo</a></h1>-->
<!--			</div>-->
<!--		&lt;!&ndash; nav &ndash;&gt;-->
<!--		<nav class="d-lg-flex">-->

<!--			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>-->
<!--			<input type="checkbox" id="drop" />-->
<!--			<ul class="menu mt-2 ml-auto">-->
<!--				<li class="active"><a href="{% url 'index' %}">Home</a></li>-->
<!--				<li class=""><a href="{% url 'Contact' %}">Contact us</a></li>-->
<!--				<li class=""><a href="/home">Electronics</a></li>-->
<!--				<li class=""><a href="/books">Books</a></li>-->
<!--			</ul>-->
<!--&lt;!&ndash;				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;			<form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->

<!--		</nav>-->
<!--		<div class="clear"></div>-->
<!--		&lt;!&ndash; //nav &ndash;&gt;-->
<!--	</div>-->
<!--</header>-->
<!--&lt;!&ndash; //header &ndash;&gt;-->

<div>
<!-- about --><br>
<section class="about py-5">
	<div class="container py-md-3">
		<h2 class="heading text-center mb-sm-5 mb-4">About Us </h2>
		<div class="row">
			<div class="col-lg-8">
				<h4 class="about-left">Our project: E-webgo</h4>
				<p class="mt-sm-4 mt-3">Our project E-webgo (Multi level marketing) is a web application which design and develop by kiot students.
				Our team members contribute their efforts to develop this project.
				This project is developed under the supervision of Diksha mam.</p>
				<div class="row mt-4">
					<div class="col-md-3 col-6">
						<div class="about-box">

						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="about-box">

						</div>
					</div>
					<!-- .about-box ends here -->
					<div class="col-md-3 col-6 mt-md-0 mt-4">
						<div class="about-box">

						</div>
					</div>
					<div class="col-md-3 col-6 mt-md-0 mt-4">
						<div class="about-box">

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-8 dental">
				<img src="static/images/kiot.jpg" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- about bottom -->
<section class="about-bottom pb-5">
	<div class="container pb-lg-3">
		<div class="row bottom-grids">
			<div class="col-lg-6">
				<img src="static/images/all.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5">
				<h4>One platform for all.</h4>
				<p class="py-3">In this Multi-Level Marketing Project, we  provide both e-commerce and study materials ,
					you can buy laptops, mobiles and other products, and we also provide study materials.
					We provide a way where consumer can purchase the products, services with reasonable price on the internet.
					In the local market the  product as to move from different agencies so the price is very high.
					In this project we will provide online services to make the sales easier to the registered members.
				</p>
				<p class="">We  also provide an online interface in the form of e-learning
					that will provide users online learning materials likes books, lectures videos etc.</p>
			</div>
		</div>
	</div>
</section>
<!-- //about bottom -->

<!-- Chefs -->
<section class="trainers py-5">
	<div class="container py-md-3">
		<h3 class="heading text-center mb-sm-5 mb-4">Our Team Members </h3>
		 <div class="row team_grids mt-5">
			<div class="col-lg-3 col-sm-6">
				<div class="team-member">
					<div class="team-img">
						<img src="static/images/par.jpg" alt="team member" class="img-fluid">
					</div>
<!--					<div class="team-hover">-->
<!--						<div class="desk">-->
<!--							<h4>Parvej khan</h4>-->
<!--							<p>Full Stack developer.</p>-->
<!--						</div>-->

<!--					</div>-->
				</div>
				<div class="team-title">
					<h5>Parvej khan</h5>
					<span>Full Stack Developer</span>
				</div>
			</div>
            &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;

			<div class="col-lg-3 col-sm-6 my-sm-0 mt-5">
				<div class="team-member">
					<div class="team-img">
						<img src="static/images/anu.jpg" alt="team member" class="img-fluid">
					</div>
<!--					<div class="team-hover">-->
<!--						<div class="desk">-->
<!--							<h4>Anurag Kushwaha</h4>-->
<!--							<p>Full Stack Developer.</p>-->
<!--							<p>+917985532371</p>-->
<!--							<p >anurag.cse016@gmail.com</p>-->
<!--						</div>-->
<!--					</div>-->
				</div>
				<div class="team-title">
					<h5>Anurag Kushawha</h5>
					<p style="color:blue">Full Stack Developer</p>
					<p style="color:blue">+917985532371</p>
					<p style="color:blue">anurag.cse016@gmail.com</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mx-auto my-lg-0 mt-5">
				<div class="team-member">
					<div class="team-img">
						<img src="static/images/sant.jpg" alt="team member" class="img-fluid">
					</div>
<!--					<div class="team-hover">-->
<!--						<div class="desk">-->
<!--							<h4>Santosh Yadav</h4>-->
<!--							<p>Content Writer .</p>-->
<!--						</div>-->

<!--					</div>-->
				</div>
				<div class="team-title">
					<h5>Santosh Yadav</h5>
					<span>Content Writer</span>
				</div>
			</div>
			</div>
		</div>
</section>
<!-- //Chefs -->

<!-- appointment -->
<section class="appointment text-center py-5">
	<div class="container py-sm-3">
		<h4>Contact us</h4>
<br>
		<h4> Anurag : +91-7985532371, &nbsp; Parvej : +91-7652075294 &nbsp; </h4>
	</div>
</section>
<!-- //appointment -->

<!-- footer -->


<!-- copyright -->
<div class="copyright">
	<div class="container py-4">
		<div class=" text-center">
			<p>© 2020  All Rights Reserved | Design by <b>Kiot Students</b> </p>
		</div>
	</div>
</div>
<!-- //copyright -->

</div>
  <!--crousal-->

<!--<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">-->
<!--  <ol class="carousel-indicators">-->
<!--    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>-->
<!--    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>-->
<!--    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>-->
<!--  </ol>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="{% static 'images/slider/slide.png' %}" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'images/slider/slide1.png' %}" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'images/slider/slide2.png' %}" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--  </a>-->
<!--  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--  </a>-->
<!--</div>-->

<!--<img src="{% static 'images/slider/pic3.png' %}" class="img-fluid" alt="Responsive image" style=" margin:1em 0em 1em 0em;">-->

<!--&lt;!&ndash;Item list&ndash;&gt;-->

<!--<div class="row">-->
<!--    {% for n in item %}-->
<!--  <form method="post">-->
<!--    <div class="card" style="width: 12rem; margin:2em 3em 2em 7em;">-->
<!--  <img src="static/Uploaded/{{n.Item_Image}}" class="img-thumbnail" style="min-height:160px;" alt="Product image">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title" style="text-align:center;min-height:50px;">{{n.Item_name}}</h5>-->
<!--    <p class="card-text" style="min-height:25px;">Price : <b>{{n.Price}}</b></p>-->
<!--    <p class="card-text" style="min-height:25px;">Author : {{n.Author}}</p>-->
<!--    <div>-->
<!--      <form method="post">-->
<!--      <a href="#" class="btn btn-primary btn-block" name="item" value="{{n.Id}}" style="text-align:center; margin:center; min-height:25px;">Add to Cart</a>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--    </form>-->
<!--    {% endfor %}-->
<!--    {% for m in items %}-->
<!--  <form method="post">-->
<!--    <div class="card" style="width: 12rem; margin:2em 3em 2em 7em;">-->
<!--  <img src="static/Uploaded/{{m.Item_Image}}" class="img-thumbnail" style="min-height:160px;" alt="Product image">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title" style="text-align:center;min-height:50px;">{{m.Item_name}}</h5>-->
<!--    <p class="card-text" style="min-height:25px;">Price : <b>{{m.Price}}</b></p>-->
<!--    <p class="card-text" style="min-height:25px;">Author : {{m.Author}}</p>-->
<!--    <div>-->
<!--      <form method="post">-->
<!--      <a href="#" class="btn btn-primary btn-block" name="items" value="{{m.Id}}" style="text-align:center; margin:center; min-height:25px;">Add to Cart</a>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--     </form>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--JavaScript Link-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>